* {
    font-family: 'Amatic SC', cursive;
}


img {

    max-height: 250px;
    max-width: 300px;
    width: 250px;
    height: 200px;
}

div {
    outline: solid;
    max-width: 250px;
    max-height: 350px;
    overflow: hidden;
    display: inline-block;
    margin-right: 10px;
    margin-top: 5px;

}

main {
}

footer {
    clear: both;
}